.loader-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../Assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row {
  display: flex;
  flex-direction: row;
}

.loader-container img {
  height: 50px;
  width: 50px;
}

.button {
  margin-top: 20px;
  height: 40px;
  width: 160px;
}

.fade-in-0 {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}

.fade-in-1 {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}

.fade-in-2 {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}

.fade-in-3 {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}

.fade-in-4 {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
}

.fade-in-5 {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
}

.fade-in-6 {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 3.5s both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 3.5s both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
